.container{
    text-align: center;
    justify-content: center;
    width: 1440px;
}
thead{
    background-color: rgb(93, 164, 140);
}
td,th{
    width: 200px;
    color: white;
    height: 40px;
}
.table{
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-left: 135px;
}
#row{
    height: 70px;
}
span{
    color: black;
}
img{
    width: 20px;
}
#main{
    color: black;
}
#shoes{
    width: 80px;
}
